<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckMonetaRUPaymentRefunds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <CheckMonetaRUPaymentRefunds.Properties.Settings>
            <setting name="dateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="dateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="host" serializeAs="String">
                <value></value>
            </setting>
            <setting name="port" serializeAs="String">
                <value></value>
            </setting>
            <setting name="mailUser" serializeAs="String">
                <value></value>
            </setting>
            <setting name="mailPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="emails" serializeAs="String">
                <value></value>
            </setting>
        </CheckMonetaRUPaymentRefunds.Properties.Settings>
    </userSettings>
</configuration>